html {
  font-size: 10px;
  background: #F5F5F5;
}
html,
body,
div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
li {
  list-style: none;
}
.float_l {
  float: left;
}
.float_r {
  float: right;
}
.clearfix::before, .clearfix::after{
  content: "";
  display: block;
  width: 0;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}
.text-center {
  text-align: center;
}
.hide {
  display: none;
}
.margin-center {
  margin: 0 auto;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-3 {
  width: 30%;
  display: inline-block;
}
.col-4 {
  width: 40%;
  display: inline-block;
}
.col-5 {
  width: 50%;
  display: inline-block;
}
.col-6 {
  width: 60%;
  display: inline-block;
}
.col-12 {
  width: 100%;
}
.textCenter {
  text-align: center;
}
.opacity-1 {
  opacity: 1;
}
::-webkit-scrollbar-track-piece {
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-thumb {
  /* //滚动条的设置 */
  background-color: #dddddd;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}
/* //-------------------------鼠标滑过样式------------------------------ */
.no_event {
  pointer-events: none;
}
.cursorPointer {
  cursor: pointer;
}
.cursorGrabbing {
  cursor: grabbing;
}
.bg-f {
  background-color: #fff;
}
.bg-none {
  background-color: none;
}
.no-data-tip {
  width: 100%;
  text-align: center;
  color: rgba(221, 223, 226, 1);
  font-size: 14px;
  padding: 18px 0;
}
.borderNone {
  border: none;
}

